/.classpath
/.project
/.settings/
/.gradle/
/build/


#Compiled
*.class

#IntelliJ files
/.idea
*.iml
*.iws
*.ipl
*.jar
*.sql
*.html
#Gradle files
gradle/
gradle*

#AngularJS build files
node_modules/
bower_components/
dist/
build/
