
    <div class="navbar navbar-default" role="navigation" style="margin:0px; !important" >


            <a class="navbar-brand" href="#/">WallaLinks!</a>

            <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-if="currentPath()!='/login'">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="logged()">
                    <li ng-click="goToProfile()"><a href=""><i class="glyphicon glyphicon-user"></i> {{username()}}</a></li>
                    <li ng-click="logout()"><a><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="!logged()">
                    <li><a href="#/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
                </ul>
            </div>
    </div>
