
<div class="row">
      <div class="col-lg-12 text-center">
        <h1>URL Shortener</h1>
        <p class="lead">AngularJS frontend</p>
        <br>
        <form class="col-lg-12" role="form" id="shortener" >
          <div class="input-group input-group-lg col-sm-offset-4 col-sm-4">
            <input type="text" class="center-block form-control input-lg"
              title="Enter a URL" placeholder="Enter a URL" name="url" ng-model="ctrl.url.target">
            <span class="input-group-btn"><button
                class="btn btn-lg btn-primary" type="submit" ng-click="ctrl.doShort()">Short me!</button></span>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="col-sm-offset-4 col-sm-4 text-center">
          <br />
          <div id="result">
              <div ng-if="ctrl.result.status=='error'" class='alert alert-danger lead'><b>Error creating link</b>
                  <br/>{{ctrl.result.message}}</div>
              <div ng-if="ctrl.result.status=='success'" class='alert alert-success lead'><b>Link shorted successfully</b>
                  <br/>{{ctrl.result.data.uri}}</div>
          </div>
        </div>
      </div>
    </div>
